/* --------------------------------------------------------------HEADER RELATED PART------------------------------------------------------------------------------ */

#topButtonWrapper .btn-group:nth-of-type(1) button {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

#topButtonWrapper button:focus,
#mediaButtonsWrapper button:focus {
  box-shadow: none;
}

#topButtonWrapper {
  padding-inline: 15px;
  transition: background-color 300ms, opacity 300ms;
}

#topButtonWrapper.halfOp {
  background-color: #1e1e1e;
  opacity: 75%;
}

#topButtonWrapper.changedBG {
  opacity: 100%;
}

.dropdownButton {
  padding: 0 0;
}

.showOnScroll {
  opacity: 0%;
  transition: opacity 300ms;
}

.showOnScroll.opacity-75 {
  opacity: 75%;
}

.showOnScroll.opacity-100 {
  opacity: 100%;
}

.dropdown-menu.dropdown-menu-right {
  width: 200px;
  background-color: #2e2e2e;
  color: #fff;
  padding-block: 0.2rem;
  padding-inline: 0.2rem;
}

.dropdown-item {
  padding: 0.25rem 1rem;
}

.dropdown-menu.dropdown-menu-right a {
  color: inherit;
}

.dropdown-menu.dropdown-menu-right a:hover {
  background-color: #626262;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

#albumWrapper {
  color: #fff;
  padding-inline: 0;
}

#albumInfoWrapper img {
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.45);
}

#albumInfoWrapper span,
#albumInfoWrapper a {
  margin-left: 0.5rem;
}

#albumInfoWrapper a {
  color: inherit;
}

#albumInfoWrapper span:nth-last-child(1) {
  color: rgb(183, 183, 183);
}

#mediaButtonsWrapper {
  background-color: #1e1e1e;
}

#musicTableWrapper {
  background-color: #181818;
}

#musicTableWrapper thead {
  top: 77px;
  background-color: #181818;
}

/* maybe later it might be needed */
/* @media (max-width: 625px) {
  #musicTableWrapper thead {
    top: 85px;
  }
}

@media (max-width: 565px) {
  #musicTableWrapper thead {
    top: 105px;
  }
} */

#musicTableWrapper table {
  background-color: transparent;
}

#musicTableWrapper table tbody {
  color: #d3d3d3;
}

#musicTableWrapper table tbody th {
  width: 30px;
}

#musicTableWrapper tbody td {
  vertical-align: middle;
}

.bi.bi-heart.mr-5 {
  opacity: 0%;
}

#musicTableWrapper tbody tr:hover .bi.bi-heart.mr-5 {
  opacity: 100%;
  cursor: pointer;
}

#musicTableWrapper tbody tr:hover .numberToPlayIcon > i {
  opacity: 100%;
  cursor: pointer;
}
#musicTableWrapper tbody tr:hover .numberToPlayIcon span {
  opacity: 0%;
}

.numberToPlayIcon > i {
  top: 17%;
  left: 4px;
  font-size: 2rem;
  opacity: 0;
}
