body {
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
}

.navbar-fixed-left {
    position: fixed;
    width: 241px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    flex-direction: column;
    align-items: start;
}

.bg-black {
    background-color: black;
}

.navbar-fix {
    margin-left: 241px;
}

.good-morning-container .card { 
    width: 40vh;
    background-color: #525252;
}

.good-morning-container .card:hover {
    cursor: pointer;
    background-color: #767676;
    transition: 0.7s;
}

.good-morning-container .card-body {
    justify-content: flex-start; 
    color: #fff;
     
}

.good-morning-container img {
    width: 80%;
}

.recently-played .card {
    background-color: #2d2d2d;
    color: #fff;
    max-width: fit-content;
}

.recently-played img {
    align-self: center;
    width: 80%;
}

.shows-to-try .card {
    background-color: #2d2d2d;
    color: #fff;
    max-width: fit-content;
}

.shows-to-try img {
    align-self: center;
    width: 80%;
}

.recently-played .card:hover,
.shows-to-try .card:hover {
    cursor: pointer;
    background-color: #525252;
    transition: 0.7s;
}
