body {
    background-color: #242424;
    color: rgb(255, 255, 255);
}

.navbar-fixed-left {
    position: fixed;
    width: 241px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    flex-direction: column;
    align-items: start;
}

.bg-black {
    background-color: black;
}

.navbar-fix {
    margin-left: 241px;
}

.good-morning-container .card {
    color: black;
}

.good-morning-container .card-body {
    justify-content: flex-start;
    
}