@font-face {
    font-family: circular;
    src: url("../fonts/Circular/CircularStd-Book.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #a7a7a7;
    font-family: circular;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}

.navbar .d-flex img {
    width: 130px;
<<<<<<< Updated upstream
=======
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 8%;
>>>>>>> Stashed changes
}

.navbar-fixed-left {
    position: fixed;
    width: 241px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    flex-direction: column;
    align-items: start;
<<<<<<< Updated upstream
=======
    align-items: flex-start;
    justify-content: flex-start;
>>>>>>> Stashed changes
}

.bg-black {
    background-color: black;
}

.justify-content-start {
    flex-wrap: wrap;
}

.navbar-fix {
    margin-left: 241px;
}

<<<<<<< Updated upstream
.navbar-fixed-left .navigation {
    /* border: 3px solid rgb(0, 255, 221); */
    justify-content: flex-end;
    
}

.navbar .navigation ul li {
    list-style: none;
    margin-top: 20px;
   
}

.navbar .navigation ul li {
    padding: 10px 0px;
=======
/* .navbar-fixed-left .navigation {
    border: 3px solid rgb(0, 255, 221);
} */

.navbar .navigation ul li {
    list-style: none;
    margin-top: 20%;
      
}

.navbar .navigation ul li {
    padding: 0px 5px;
>>>>>>> Stashed changes
}

.navbar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
<<<<<<< Updated upstream
    font-size: 13px;
=======
    font-size: 90%;
>>>>>>> Stashed changes
}

.navbar .navigation ul li a:hover,
.navbar .navigation ul li a:active,
.navbar .navigation ul li a:focus {
    color: #ffffff;
}

.navbar .navigation ul li a:hover ion-icon,
.navbar .navigation ul li a:active ion-icon,
.navbar .navigation ul li a:focus ion-icon {
    color: #b3b3b3;
}

.navbar .navigation ul li ion-icon {
<<<<<<< Updated upstream
    font-size: 20px;
    margin-right: 10px;
=======
    font-size: 150%;
    margin-right: 2vh;
>>>>>>> Stashed changes
}

.navbar .navigation ul li a:hover ion-icon:hover,
.navbar .navigation ul li a:active ion-icon:active,
.navbar .navigation ul li a:focus ion-icon:focus {
    color: #ffffff;
}

