@font-face {
  font-family: circular;
  src: url("../fonts/Circular/CircularStd-Book.otf") format("opentype");
}
body {
  background-color: #121212;
  color: #a7a7a7;
  font-family: circular;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.navbar-fixed-left {
  position: fixed;
  width: 241px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  flex-direction: column;
  align-items: start;
  position: fixed;
  width: 241px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  flex-direction: column;
  align-items: start;
}

.bg-black {
  background-color: black;
  background-color: black;
}

.navbar-fix {
  margin-left: 241px;
  margin-left: 241px;
}

/* HEADER RELATED PART */

header .btn-group:nth-of-type(1) button {
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: #fff;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

header .btn-group:nth-of-type(1) button i {
  line-height: 16px;
}

header button:focus,
#mediaButtonsWrapper button:focus {
  box-shadow: none;
}

header {
  padding-inline: 15px;
  transition: background-color 300ms, opacity 300ms;
}

@media (max-width: 685px) {
  header h5 {
    white-space: nowrap;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  header #prevButton {
    display: none;
  }

  header .dropdownButton {
    display: none !important;
  }
}

header.halfOp {
  background-color: #1e1e1e;
  opacity: 75%;
}

header.changedBG {
  opacity: 100%;
}

.dropdownButton {
  padding: 0 0;
  overflow: hidden;
}

.dropdownButton > span > span {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.showOnScroll {
  opacity: 0%;
  transition: opacity 300ms;
}

.showOnScroll.opacity-75 {
  opacity: 75%;
}

.showOnScroll.opacity-100 {
  opacity: 100%;
}

#playButton {
  cursor: default;
}

.showOnScroll button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default !important;
  background-color: #1fdf64;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  transition: all 150ms;
}

.showOnScroll button:hover {
  transform: scale(1.05);
  background-color: #39e678;
}

.dropdown-menu.dropdown-menu-right {
  width: 200px;
  background-color: #2e2e2e;
  color: #fff;
  padding-block: 0.2rem;
  padding-inline: 0.2rem;
}

.dropdown-menu.dropdown-menu-right a {
  cursor: default !important;
}

.dropdown-item {
  padding: 0.25rem 1rem;
}

.dropdown-menu.dropdown-menu-right a {
  color: inherit;
}

.dropdown-menu.dropdown-menu-right a:hover {
  background-color: #626262;
}

/* Footer stuff */

footer {
  background-color: #181818;
  border-top: 1px solid #282828;
  margin: 0;
  padding: 0 16px;
  height: 91px;
  min-width: 620px;
}

footer h6 {
  font-size: 14px;
  margin-bottom: 0;
}

footer span {
  font-size: 11px;
}

footer path {
  fill: #a7a7a7;
}

footer .btn-transparent {
  width: 32px;
  height: 32px;
}

footer .btn-transparent:hover > svg > path {
  fill: white;
}
.play {
  margin-inline: 16px;
}
.play-button-footer {
  background-color: white;
  border-radius: 500px;
  height: 32px;
  width: 32px;
}

.play-button-footer path {
  fill: black;
}

.play-button-footer:hover {
  scale: 1.04;
}
.buttonbar {
  margin-bottom: 8px;
}
.progress {
  height: 4px;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 2px;
  margin-inline: 8px;
}
.curDur,
.maxDur {
  font-size: 0.6875rem;
  font-weight: 400;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}

.volume {
  flex: 0 1 125px;
  margin-right: 4px;
}
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* bar */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: hsla(0, 0%, 100%, 0.3);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 2px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 2px;
}

input[type="range"]::-ms-fill-lower {
  background: #1ed760;
  border-radius: 2px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #1ed760;
}
input[type="range"]::-ms-fill-upper {
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 2px;
}

input[type="range"]:focus::-ms-fill-upper {
  background: hsla(0, 0%, 100%, 0.3);
}

/* thumb */
/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 500px;
  background: white;
  margin-top: -4px;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 500px;
  background: white;
}

/* IE */
input[type="range"]::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 500px;
  background: white;
}
